*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
}
.ifr{
    width: 100%;
    height: 950px;
    margin: 0 auto;
}
.iframeContainer{
    display: flex;
    width: 50%;
}
.parametros{
    width: 40%;
    align-content: center;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.par{
    margin: 0 30px 0 30px;
}

.parametros p{
    font-size: 20px;
}

input, select, option{
    height: 30px;
    width: 100px;
    font-size: 20px;
    text-align: center;
    outline: none;
}
.rotacion{
    width: 150px;
}
.divInputScramble, .cualquierCosa{
    width: 100%;
}
.scramble, .cosa{
   width: 60%;
   height: 70px;
   resize: none;
}
.scramble{
    font-size: 20px;
    text-align: center;
    height: 90px;
    outline:  none;
}
.scrambleText{
    align-self: center;
}